.padded{
  padding:15%;
  text-align: center;
  color:#559295;
}
.typeBox {
	font-size: 1.5em;
	background: linear-gradient(21deg, #10abff, #1beabd);
	padding: 3px;
	display: inline-block;
	border-radius: 7px;
  color:white;
  padding:1%;
  border: none !important;
}
.typeBox:focus{
  outline: none;
}

.submit{
  background-color: #10abff;
  border: none;
  border-radius:7px;
  color: white;
  padding: 9px 22px;
  font-size: 14px;
  margin:5%;
  box-shadow: 0px 1px 5px #999;
}
.submit:focus{
  outline: none;
}
.submit:hover{
  opacity:0.5;
}
